openapi: 3.2.0
info:
  title: Alliance Resource Partners Content Search API
  version: wp/v2
  summary: The public, read-only WordPress REST API behind www.arlp.com.
  description: Alliance Resource Partners, L.P.
  contact:
    name: Alliance Resource Partners
    url: https://www.arlp.com/contact/
  termsOfService: https://www.arlp.com/terms-of-use/
  x-provenance:
    method: derived
    source: https://www.arlp.com/wp-json/
    derived: '2026-09-01'
    note: Derived by API Evangelist from the live WordPress route discovery document served by www.arlp.com; not published by Alliance Resource Partners.
servers:
- url: https://www.arlp.com/wp-json
  description: Production
security:
- {}
tags:
- name: Search
  description: Cross-content-type search over published arlp.com content.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search published site content
      description: Search published site content on the public Alliance Resource Partners WordPress REST API at www.arlp.com. Verified HTTP 200 anonymously on 2026-09-01.
      tags:
      - Search
      security:
      - {}
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - gm_menu_block
            - wptb-tables
            - category
            - post_tag
            - table_tags
            - any
          default: any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      responses:
        '200':
          description: Successful response.
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this resource (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched the request (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope, observed live on www.arlp.com on 2026-09-01.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route, rest_forbidden, rest_invalid_param, rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param only).
            details:
              type: object
              description: Per-parameter structured detail (rest_invalid_param only).
      required:
      - code
      - message
      - data
